
<section class="wrapper" ng-controller="adminBaranjaCtrl">

  <ng-include src="'views/header.html'"></ng-include>
  <!-- Content Header (Page header) -->

  <div class="content-wrapper">



    <section class="content-header" style="padding: 0px">

      <h1 style=" font-size: 19px; padding-top: 10px; padding-left: 10px;"> Внесување на барања </h1>
    	<section class="content box-header">
    	 <div class="box box-success" style=" font-size: 12px;min-height: 600px; padding: 14px;" >
    		<div class="col-md-12">

			<!--     **************  FORMA ZA VNES NA EMBG  *****************************************************       -->
	        	<div class="col-md-3">
	        			<ul style="list-style-type: none;" class="form-group col-md-12">
	        				
	        				<li>
	        					<label style="">Број на барање:</label>
	        					<div>
	        						<input type="text" class="form-control input-sm " ng-model="korisnik.brojBaranje"></input> 
	        					</div>
	        				<li>
	        						<label style="">Единствен број:</label>
	        						<div>
	        							<input style=" " type="text" class="form-control input-sm " ng-model="korisnik.embg" ng-change="zemiPodatociPo_EMBG(korisnik.embg)"></input>
	        						</div>
	        				</li>

							<li>
		        					<label style=" ">Корисничко име:</label>	
		        					<div>
		        						<input style=""type="text" class="form-control input-sm " ng-model="korisnik.korisnichkoIme">{{korisnik.korisnichkoIme}}</input>
		        					</div>	
	        				</li>

	        				<li>
	        					<label style=" ">Датум барање</label>
	        					<div>
	        					<input type="text" class="form-control input-sm " ng-model="korisnik.datum"></input>
	        					</div>
	        				</li>

	        			</ul>
	        	</div>
        	<!--  ************** KRAJ NA FORMA ZA VNES NA EMBG *****************************************************       -->


			<!--  ************** TABELA ZA PRIKAZ NA PODATOCI PO SMETKA *********************************       -->
        		<div class="col-md-7"> 
        			<table id="example2" class="table table-bordered table-hover dataTable" role="grid" aria-describedby="example2_info">
        			<tr>
        				<th class="sorting_asc" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Rendering engine: activate to sort column descending">Вид работа</th>

        				<th class="sorting_asc" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Rendering engine: activate to sort column descending">Партија</th>

        				<th class="sorting_asc" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Rendering engine: activate to sort column descending">Назив на сметка</th>

        				<th class="sorting_asc" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Rendering engine: activate to sort column descending">Сервис</th>

        				<th class="sorting_asc" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Rendering engine: activate to sort column descending">Е-маил</th>

        				<th class="sorting_asc" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Rendering engine: activate to sort column descending">Телефонски број</th>
        			</tr>
        				<!--  ************** REDOVI VO TABELA TUKA *********************************       -->
        			<tbody>
        				
        				<tr>
        					<td>Moki</td>
        				</tr>
        			</tbody>

        			</table>

        		</div>

			</div> <!-- KRAJ NA CELA FORMA -->
        	
        	<!--******
        	 <button ng-click="test()" ng-model="btn" > update </button>	
        	<search-vid-tip> </search-vid-tip>	
			
				<table class=" table table-bordered table-striped dataTable " style=" max-width: 226px;">
						<tr ng-repeat="item in productsBody track by item.ProductBodyID">
							<td ng-repeat="(key, val) in item" ng-if="key == 'FieldDescription'">
						  		{{item.FieldName}} - {{item.ProductBodyID}}
						  	</td>
						  	<td>
						  		<div class="col-sm-offset-2 col-sm-10">
                       				<input type="checkbox" checklist-model="user.items" checklist-value="item.ProductBodyID" > 
                        		</div>

						  	</td>
						</tr>
				</table>

			********-->

			
					<button ng-click="funkcija()" ng-model="btn" ng-show="!flag" ng-disabled="flag"> Внеси </button>	
				</div>


		</section>


	</section>
   
	 <section class="content" > </section>