<style>
  .row{
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 2px;
  }
</style>

<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.css">
<link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/select2/3.4.5/select2.css">
<link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.8.5/css/selectize.default.css">


<section class="wrapper" ng-cloak>
  <ng-include src="'views/header.html'"></ng-include>

  <div class="content-wrapper">
    <div class="content-header" >
      <div  class="form-group  pull-right"  >

        <i class="fa fa-fw fa-search" ></i>


        <ui-select ng-model="item.selected" class="pull-right" style="min-width: 300px; "  theme="select2"  on-select="fetchProducts($select.selected);TableColumns($select.selected)">
          <ui-select-match placeholder=" {{'searchVidRabota_p' | translate}}">{{$select.selected.ProductID}}-{{$select.selected.Description}}</ui-select-match>
          <ui-select-choices repeat="item in products | filter: $select.search">
            <div ng-bind-html="item.ProductID  |  highlight: $select.search"></div>
            <small ng-bind-html="item.Description  | highlight: $select.search"></small>

          </ui-select-choices>
        </ui-select>

      </div>
      <h1 style=" font-size: 19px;padding: 10px; padding-top: 0px"> Креирај форма </h1>

    </div>

    <div class="content">



      <div class="box box-success">
        <div class="box-header with-border">

          <h4 class="box-title">

          </h4>

        </div>

        <form novalidate class="form-group "   name="form">
        <div class="box-body" >
          <!------------------------------------------------- Textbox ------------------------------------------------------->
                  <div class="row "   ng-repeat="item in productbody track by item.ProductBodyID" ng-if="item.FieldType=='Textbox' ">
                      <label class=" col-md-2 control-label ">{{item.FieldDescription}}</label>
                      <div class="col-md-3 ">
                        <input class="form-control ng-valid ng-invalid" dynamic-model="'temp.'+item.FieldName" type="{{item.FieldType}}" maxlength="{{item.FieldLength}}" value="{{item.DefaultValue}}" />
                      </div>
                  </div>

          <!------------------------------------------------- Number ------------------------------------------------------->
                  <div class="row "   ng-repeat="item in productbody" ng-if="item.FieldType=='Number' ">

                    <label class=" col-md-2 control-label ">{{item.FieldDescription}}</label>
                    <div class="col-md-3 ">
                      <input class="form-control " dynamic-model="'temp.'+item.FieldName"  type="{{item.FieldType}}" min="0" maxlength="{{item.FieldLength}}" value="{{item.DefaultValue}}" />
                    </div>
                  </div>

          <!------------------------------------------------- Datepicker ------------------------------------------------------->
                  <div class="row "   ng-repeat="item in productbody" ng-if="item.FieldType=='Datepicker' ">

                    <label class=" col-md-2 control-label ">{{item.FieldDescription}}</label>
                  <div class="col-md-3 ">
                    <div class=" input-group ">
                      <input  dynamic-model="'temp.'+item.FieldName" class="form-control "  type="{{item.FieldType}}" ng-change="filter( item.FieldName )" data-date-format="dd-MM-yyyy" data-date-type="date" data-autoclose="1" bs-datepicker />
                      <div class="input-group-addon " id="date" >
                        <i class="fa fa-calendar"  ></i>
                      </div>
                    </div>
                 </div>
                  </div>

          <!------------------------------------------------- Textarea ------------------------------------------------------->
                  <div class="row "ng-model="item.FieldName"  ng-repeat="item in productbody" ng-if="item.FieldType=='Textarea' ">

                    <label class=" col-md-2 control-label ">{{item.FieldDescription}}</label>
                    <div class="col-md-3 ">
                      <textarea dynamic-model="'temp.'+item.FieldName"  class="form-control " rows="3"   ng-model="dsg" ></textarea>
                    </div>
                  </div>

          <!------------------------------------------------- Checkbox ------------------------------------------------------->
                  <div class="row "  ng-repeat="item in productbody" ng-if="item.FieldType=='Checkbox' ">

                    <label class=" col-md-2 control-label ">{{item.FieldDescription}}</label>
                    <div class="col-md-3 ">
                      <input dynamic-model="'temp.'+item.FieldName"  ng-checked="true" type="checkbox" >
                    </div>

                  </div>

          <!------------------------------------------------- Dropdown ------------------------------------------------------->
                  <div class="row "  ng-repeat="item in productbody" ng-if="item.FieldType=='Dropdown' ">

                    <label class=" col-md-2 control-label">{{item.FieldDescription}}</label>
                    <div class="col-md-3 " >

                     <ui-select dynamic-model="'temp.'+item.FieldName"  style="width: 260px;" ng-model="temp"  theme="select2"  >

                        <ui-select-match placeholder="{{item.DefaultValue}}"></ui-select-match>

                          <ui-select-choices repeat="temp in item.ControlType  | filter: $select.search">

                            <div ng-repeat="tmp in temp">
                              <div ng-bind-html="tmp |  highlight: $select.search"></div>
                            </div>

                          </ui-select-choices>
                      </ui-select>

                    </div>

                  </div>


          <!------------------------------------------------- Buttons------------------------------------------------------->
                    <div class="box-footer col-md-5  text-right" >


                    <div  ng-repeat="item in productbody" ng-if=" item.FieldType=='Button'  ">
                      <button class="btm btn-success " ng-click="submit()"   value="{{item.DefaultValue}}" >{{item.DefaultValue}}</button>

                    </div>
          <!------------------------------------------------- Button Cancel ------------------------------------------------------->

                    <div class="" ng-repeat="item in productbody" ng-if=" item.FieldType=='ButtonCancel'  ">
                      <button class="btm btn-default "   value="{{item.DefaultValue}}" >{{item.DefaultValue}}</button>

                    </div>

          </div>


        </div>
        </form>



      </div>



    </div>
  </div>

</section>





</body>
</html>
