<div class="login-box">
  <div class="login-logo">
    <a href=""><b>Администраторска апликација</b></a>
  </div><!-- /.login-logo -->
  <div class="login-box-body">
    <p class="login-box-msg">Најавете се</p>
    <form novalidate class="css-form"name="form" ng-submit="login(loginData)">

      <div class="form-group has-feedback" >
        <div class="input-group">
          <input type="text" class="form-control" required ng-model="loginData.username" placeholder="Корисничко име"/>
          <div class="input-group-addon "  >
            <i class="fa fa-envelope" aria-hidden="true"></i>
          </div>
        </div>

      </div><!-- /.input group -->

      <!--<div class="form-group has-feedback">-->
        <!--<input type="text" class="form-control" required ng-model="loginData.username" placeholder="Корисничко име"/>-->
        <!--<span class="glyphicon glyphicon-envelope form-control-feedback"></span>-->
      <!--</div>-->

      <div class="form-group has-feedback" >
        <div class="input-group">
          <input type="password" class="form-control" required ng-model="loginData.password" placeholder="Лозинка"/>
          <div class="input-group-addon "  >
            <i class="fa fa-lock fa-lg" aria-hidden="true"></i>
          </div>
        </div>

      </div><!-- /.input group -->

      <!--<div class="form-group has-feedback">-->
        <!--<input type="password" class="form-control" required ng-model="loginData.password" placeholder="Лозинка"/>-->
        <!--<span class="glyphicon glyphicon-lock form-control-feedback"></span>-->
      <!--</div>-->

      <div class="row">
        <div class="col-xs-8">
        </div><!-- /.col -->
        <div class="col-xs-4">
          <button type="submit" ng-disabled="form.$invalid" class="btn btn-success btn-block btn-flat">Најава</button>
        </div><!-- /.col -->
      </div>
    </form>
    <br>
    <div class="text-center">
      <!-- <a href="#/forgotpassword">Ја заборавив лозинката</a> -->
      <!-- <br> -->
    </div>
  </div><!-- /.login-box-body -->
</div><!-- /.login-box -->
