<section class="wrapper" >

  <ng-include src="'views/header.html'"></ng-include>
  <!-- Content Header (Page header) -->

  <div class="content-wrapper">

    <div class="content-header" >
      <h1 >Партии</h1>
    </div>

    <div class="content" >
    <div class="row">
    <div class="col-md-7">

      <div class=" box box-success">
        
        <div class="box-header with-border">
          <h3 class="box-title">Сними запис</h3>
        </div>

        <div class=" box-body" >

          <div class="row">
            <form novalidate class="css-form" name="form">
           <div class="col-md-12">
             


<div class="row">

                   <div class=" col-md-4 form-group">
                        <label >Партија:</label>
                        <input ng-model="epartii.Partija" ng-blur="ePartiiFetchMinimalenBrojPotpisnici(epartii.Partija)"  type="text" class="form-control ng-invalid-required"  mask="9" repeat="15" restrict="reject" required>
                   </div>
   <div class=" col-md-4 form-group">
                    <label >Број на потписи:</label>
                    <input placeholder="" ng-model="epartii.BrojNaPotpisi" min="1" ng-init="BrojNaPotpisi=1"   type="number" class="form-control ng-invalid-required input-sm" reguired>
                  </div>
                    
    
                  <div class=" col-md-4 form-group">
                    <label >Минимален број потписи:</label>
                    <input placeholder="" ng-model="epartii.MinBrojPotpisnici" min="1" ng-init="MinBrojPotpisnici=1"   type="number" class="form-control ng-invalid-required input-sm" reguired>
                  </div>


               

                 </div>

      
                 
                  <div ng-show="flagVisibility">
                               <table  ng-table="tableRef" id="example2" class=" table table-bordered table-hover dataTable" setNullSelectionAllowed="false" role="grid" aria-describedby="example2_info">
                  <tr style="background-color: #00A65A; color: white;">
                  
                    <th class="sorting_asc" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Rendering engine: activate to sort column descending">Група на потписници</th>

                    <th class="sorting_asc" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Rendering engine: activate to sort column descending">Број на потписи</th>

                   
                  </tr>

                    <!--  ************** REDOVI VO TABELA TUKA *********************************       -->
                  <tbody >
                    <tr ng-repeat="y in infogrupa" ng-class="{'selected':$index == selectedRow}">
                      <td >{{y["SifraLimitGrupa"]}} </td>
                      <td >{{y["BrojNaPotpisi"]}} </td>
                    </tr>

                  </tbody>

                </table>
          
               
            
          
           


                      <table ng-table="tableRef" id="example2" class="table table-bordered table-hover dataTable" setNullSelectionAllowed="false" role="grid" aria-describedby="example2_info">
                  <tr style="background-color: #00A65A; color: white;">
                    <th></th>
                    <th class="sorting_asc" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Rendering engine: activate to sort column descending">Ред. бр.</th>

                    <th class="sorting_asc" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Rendering engine: activate to sort column descending">Статус на потписник</th>

                    <th class="sorting_asc" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Rendering engine: activate to sort column descending">Единствен број</th>

                    <th class="sorting_asc" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Rendering engine: activate to sort column descending">Име и презиме</th>

                
                  </tr>

                
                  <tbody >
                    <tr ng-class="{'selected': item.IsChecked == true}" ng-repeat="item in infopotpisnicipartija">
                        <td > <input  ng-model="item.inGroup"  type="checkbox" > </td>
                      <td >{{$index +1}}</td>
                      <td> <input  ng-model="item.StatusPotpisnik"   type="checkbox" > 
                    </td>
                      <td >{{item["EdinstvenBroj"]}} </td>
                      <td >{{item["ImePrezime"]}} </td>
                    </tr>

                  </tbody>

                </table>
                <img id="mySpinner"  src="/images/loading.gif" style="width: 100px;height: 100px; margin-top: -17px;margin-left: 41%;" ng-show="loading"/>

                
                </div>
                </div>

                
                <div class="form-horizontal ">
                    <div class="col-md-12 box-header text-right" >
                          <button class="btn btn-success btn-sm" ng-click="snimi()" ng-disabled="form.$invalid">  Сними </button>
                    </div>

                </div>
            


            </form>
            </div>




            </div>
          </div>

        </div>
      </div>
    </div>
</div>

  <ng-include src="'views/footer.html'"></ng-include>
</section>

