<section class="wrapper" >

  <ng-include src="'views/header.html'"></ng-include>
  <!-- Content Header (Page header) -->

  <div class="content-wrapper">

    <div class="content-header" >
      <h1 >Ресетирај лозинка</h1>
    </div>

    <div class="content col-md-6" >

      <div class=" box box-success  ">
        <div class="box-header with-border">
          <h3 class="box-title">Сними запис</h3>
        </div>

        <div class=" box-body" >

          <div class="row">
            <form novalidate class="css-form" name="form">
           
             
                   <div class=" col-md-6 form-group">
                        <label >Единствен број:</label>
                        <input ng-model="Korisnik.EdinstvenBroj" ng-blur="ResetPasswordFetchInfo(Korisnik.EdinstvenBroj,'')" mask="9" repeat="13" restrict="reject" type="text" class="form-control ng-invalid-required input-sm">
                   </div>

                    
           
                  <div class=" col-md-6 form-group">
                    <label >Корисничко име:</label>
                    <input ng-model="Korisnik.KorisnickoIme" ng-blur="ResetPasswordFetchInfo('',Korisnik.KorisnickoIme)" type="text" class="form-control ng-invalid-required input-sm" required>
                  </div>


          

                </div>

                
                <div class="row">
                    <div class="col-md-12 box-header text-right" >
                          <button class="btn btn-success btn-sm" ng-click="resetiraj()" ng-disabled="form.$invalid || flagDisabled">  Ресетирај </button>
                    </div>

                </div>
            


            </form>




            </div>
          </div>

        </div>
      </div>
    </div>

  </div>
  <ng-include src="'views/footer.html'"></ng-include>
</section>


